[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf2 = "*"
edgegpt = "*"
log2d = "*"
pandas = "*"
sydney-py = "*"
bardapi = "*"
re-edge-gpt = "*"
python-gemini-api = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.0"
